@model IEnumerable<DreamToEarn.DbModel.InvestmentPlan>
@using System.Security.Claims;
@using DreamToEarn.Helper;
@{
    var user = new AppUser(User as ClaimsPrincipal);

    if (Session["SiteSessions"] == null)
    {
        Response.Redirect("/Account/Login");
        Response.End();
    }
}

@{
    ViewBag.Title = "3 Month Plan";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<section id="threeMonthPlan">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        6 Months Investment Plan
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label class="label-default" for="RefUserName">Choose Investment</label>
                <select class="form-control bx-selection" id="ddlPlan" style="width: 320px;">
                    <option value="">Choose your Investment Plan</option>
                    <option value="30000">30,000/Rs </option>
                    <option value="40000">40,000/Rs </option>
                    <option value="50000">50,000/Rs </option>
                    <option value="60000">60,000/Rs </option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" onclick="return savePlan();" style="width: 80px;">Save</a></div>
                <div class="small">After saving, your request will be pending for admin approve.</div>
                <div id="lblmsg"></div>
            </div>
        </form>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Investment Plan
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Investment Plan</th>
                            <th>Plan Type</th>
                            <th>Plan Add Date</th>
                            <th>Plan Active Date</th>
                            <th>Plan Status</th>
                            <th>Plan Is Active?</th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th>Plan</th>
                                <th>Plan Type</th>
                                <th>Plan Add Date</th>
                                <th>Plan Active Date</th>
                                <th>Plan Status</th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.plan / RS</td>
                                @if (item.planType == "6Months")
                                {
                                    <td>6 Months Plan</td>
                                }
                                else
                                {
                                    <td>3 Months Plan</td>
                                }
                                <td>@item.planAddDate</td>
                                <td>@item.planActiveDate</td>
                                <td>
                                    @if (item.planStatus == "Pending")
                                    {
                                        <span class="small text-danger">
                                            @item.planStatus
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="small text-success">
                                            @item.planStatus
                                        </span>
                                    }
                                </td>
                                <td>
                                    @if (@item.IsActive == true)
                                    {
                                        <span class="small text-success">
                                            Plan is Active
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="small text-danger">
                                            Plan is inactive
                                        </span>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="snackbar"></div>
</section>
<script>
    function savePlan() {
        var plan = $('#ddlPlan').val();
            if (plan == "") {
                ShowMessage("", "Please choose your plan");
                return false;
        }
        var modelObj = {
                plan: plan,
                planType: "6Months",
                //planAddDate: new date(),
                planStatus: "Pending",
                userId: @user.UserId
            };
            var url = '@Url.Action("threeMonthPlan", "InvestmentPlan")';
             $.ajax({
                type: "POST",
                url: url,
                data: { model: modelObj },
                success: function (result) {
                    if (result.IsSuccess) {
                        ShowMessage('success', "Investment Plan has been added succesfully, it is in pending state, admin will Approve soon.");
                        $("#lblmsg").removeClass("small text-danger");
                        $("#lblmsg").addClass("smail text-success");
                        document.getElementById('lblmsg').innerHTML = "Investment Plan has been added succesfully, it is in pending state, admin will Approve soon.";
                        $('#ddlPlan').val('');
                        window.location.reload();
                    }
                    else {
                        ShowMessage('', "NOTE: " + result.Message);
                        $("#lblmsg").removeClass("small text-success");
                        $("#lblmsg").addClass("smail text-danger");
                        document.getElementById('lblmsg').innerHTML = "NOTE: " + result.Message;
                    }
                },
                error: function (jqXHR, status, err) {
                    ShowMessage('', "NOTE: " + result.Message);
                    $("#lblmsg").removeClass("small text-success");
                    $("#lblmsg").addClass("smail text-danger");
                    document.getElementById('lblmsg').innerHTML = "NOTE: " + result.Message;
                }
            });

        }

        function ShowMessage(type, message) {
             var x = document.getElementById("snackbar");
             x.className = "show";
             x.innerHTML = message;
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
</script>

