@model IEnumerable<DreamToEarn.DbModel.Team>

@using System.Security.Claims;
@using DreamToEarn.Helper;
@{
    var user = new AppUser(User as ClaimsPrincipal);

    if (Session["SiteSessions"] == null)
    {
        Response.Redirect("/Account/Login");
        Response.End();
    }
}


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Referrer Team
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Investment Plan</th>
                        <th>Plan Type</th>
                        <th>Plan Status</th>
                        <th>Plan IsActive</th>
                        <th>Referred By</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.FirstName @item.LastName
                            </td>
                            <td>
                                @item.UserName
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Plan / RS
                            </td>
                            <td>
                                @item.planType
                            </td>
                            <td>
                                @item.IsActive
                            </td>
                            <td>
                                @if (item.PlanStatus == "Approved")
                                {
                                    <span class="text-success"> Approved</span>
                                }
                                else
                                {
                                    <span class="text-info"> Pending</span>
                                }
                            </td>
                            <td>
                                @item.ReferencedBy
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
